<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
  <link rel="stylesheet" href="./style.css" />
</head>
<body>
   <main> 
    <h4 class="u-align-center u-text u-text-2">Dane które podałeś są nieprawidłowe!&nbsp;<br>
      <span style="font-size: 0.875rem;">Aby zalogować lub zarejestrować się musisz podać dokładny adres e-mail oraz hasło zawierające litery i numery np. haslo1234</span>
    </h4>
    <h3 class= "u-align-center u-text u-text-2"><a href="login" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-login-control u-login-create-account u-none u-text-body-color u-btn-2">Spróbuj ponownie</a> </h3>
   </main>
</body>
</html>